
body.online-game {
    background: linear-gradient(135deg, #142b3d, #1c3d56, #245070);
}

.back-button {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 2em;
    color: #f0e130;
    text-decoration: none;
    transition: color 0.3s ease;
}

.back-button:hover {
    color: #ff6347;
}

.resume {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-right: 20px;
}
