body {
    height: 100vh;
    min-height: 100vh;
}

html {
    overflow: hidden
}

#characters {
    display: flex;
    background-color: azure;
    height: 15vh;
}

.character {
    flex: 1;
    text-align: center;
}

.character img {
    width: 100%;
}

.character p {
    font-size: 20px;
    margin: 10px 0;
}

#game-text {
    background-color: gainsboro;
    flex: 1;
    border: 1px solid black;
    height: 80%;
}